{{#if this.image_url}}
  <img src='{{this.image_url}}' alt='{{this.tagline}}' class='img-beer' />
{{/if}}

<div>
  <h3>
    <a href='/beers/{{this.id}}'>
      {{! we have to create this route "/beers/{{someBeerId}" }}
      {{this.name}}</a>
  </h3>
  <h5>
    {{this.tagline}}
  </h5>
  <p>
    {{this.description}}
  </p>

{{#if this.foodPairing}}
    <ul> 
       {{#each this.foodPairing}}
         <li>
         {{this}}
         </li>
       {{/each}}
    </ul>
{{/if}}

    {{#if this.brewersTips}}
        <p>
          {{this.brewersTips}}
        </p>
    {{/if}}
</div>